<!-- Header -->
<app-nav-bar></app-nav-bar>
<!-- Header -->

<!--
    We will add an element called router-outlet.
    This element is a directive defined by Angular.
    It acts as a placeholder for our components.
    Once the router has been initialized, this directive will load the component corresponding to the path.
-->
<router-outlet></router-outlet>

<!-- Auth Modal -->
<!--
  We are loading 'the AuthModalComponent' by adding this element.
  Angular will create a new instance of this component.

  They should remain unaffected by parent elements.
-->
<app-auth-modal *ngIf="!(authService.isAuthenticatedWithDelay$ | async)"></app-auth-modal>
<!-- Auth Modal -->